.cartCard {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10x;
  width: 903px;
  height: 134px;
  border: 1px solid rgba(250, 250, 250, 1);
  background-color: rgba(250, 250, 250, 1);
}

.productImage {
  width: 197px;
  height: 90px;
  object-fit: cover;
  margin-right: 57px;
}

.productInfo {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center name, price, and delete icon */
  flex-grow: 1; /* This will make the container take up remaining space */
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 36px;
  height: 100px;
}

.detailsAndPrice {
  display: flex;
  flex-direction: column;
}

.productName {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  line-height: 100%;
}

.productPrice {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-top: 5px; /* Spacing between name and price */
}

.removeButton {
  background-color: #f6f6f6;
  border: none;
  border-radius: 50%; /* Make the button circular */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

.trashIcon {
  width: 16px;
  height: 16px;
  fill: #d3d3d3; /* A light grey color for the icon */
}
