.cartPage {
  padding: 50px 13%;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.pageTitle {
  font-size: 36px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 164px;
  padding-bottom: 10px;
}

.cartContainer {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.cartItemsList {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summaryBox {
  max-width: 388px;
  min-height: 428px;
  flex: 1;
  background-color: #fafafa;
  border-radius: 15px;
  padding: 25px;
}

.summaryTitle {
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom: 15px;
  text-align: center;
}

.summaryList {
  list-style: none;
  padding: 0;
  margin: 0 0 26px 0;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.summaryItem {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 400;
  line-height: 98%;
  color: #000000b2;
}

.totalPrice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 15px;
  border-top: 1px solid #d3d3d3;
  margin-top: 64px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  gap: 12px;
}
.totalPriceValue {
  font-size: 24px;
  font-weight: 700;
}

.emptyCartMessage {
  font-size: 18px;
  color: #777;
  text-align: center;
  margin-top: 50px;
}
.cartCard {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #eaeaea;
}

.productImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
  margin-right: 25px;
}

.productInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.detailsAndPrice {
  display: flex;
  flex-direction: column;
}

.productName {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin: 0;
}

.productPrice {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-top: 5px;
}

.removeButton {
  background-color: #f6f6f6;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

.trashIcon {
  width: 16px;
  height: 16px;
  fill: #d3d3d3;
}
@media (max-width: 1120px) {
  .cartPage {
    padding: 25px 5%;
  }
}
@media (max-width: 768px) {
  .cartContainer {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    /* max-width: 400px; */
  }
  .cartPage {
    padding: 10px 6%;
    width: 75%;
  }
}
