.card {
  width: 386px;
  height: 393px;
  border-radius: 42px;
  border: 2px solid #00000026;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.productImage {
  width: 278px;
  height: 127px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 49px;
}

.productName {
  font-size: 24px;
  font-weight: 400;
  padding: 32px 63px 0 39px;
}

.productPrice {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  position: relative;
  top: 50px;
  left: 39px;
}

.button {
  background-color: white;
  border: none;
  cursor: pointer;
  position: relative;
  top: 12px;
  left: 310px;
}
.cena {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #666666;
  position: relative;
  top: 52px;
  left: 39px;
}
