.header {
  display: flex;
  background-color: #3b3c3d;
  justify-content: space-between;
  align-items: center;
  padding: 43px 13%;
  color: white;
  nav {
    display: flex;
    gap: 64px;
    a {
      color: white;
      text-decoration: none;
      font-size: 15px;
      font-weight: 600;
    }
  }
}
