.header {
  background-color: #3b3c3d;
  color: white;
  padding: 43px 0;
  width: 100%;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 13%;
}
.headerContainer h1 {
  font-size: 20px;
  font-weight: 900;
}
.headerContainer nav {
  display: flex;
  gap: 64px;
}
.headerContainer nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
@media screen and (max-width: 880px) {
  .headerContainer {
    padding: 0 40px;
  }
  .headerContainer nav {
    gap: 24px;
  }
  .headerContainer h1 {
    font-size: 16px;
  }
  .headerContainer nav a {
    font-size: 13px;
  }
}
